* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.container .number {
  font-size: 4rem;
}

.btns-container {
  width: 40rem;
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
}

.increment {
  border-radius: 100px;
  padding: 10px 15px;
  padding-bottom: 18px;
  font-size: 2rem;
  background-color: #141517;
  color: #fff;
  cursor: pointer;
}
